<h2> Welcome to your page <%= current_user.name.capitalize %> </h2> 
<a href='/users/<%= current_user.id%>/edit'> Edit Profile </a> &nbsp;&nbsp; <a href="/users/<%= current_user.id%>/tweets/new">Post a new Tweet</a> &nbsp;&nbsp; <a href="/signout">Logout</a>
<br>
<br>
<table id="table1" border="0" width="75%" frame="void" rules="all" title = "Tweets">
  <tr>
    <th>Tweets</th>
    <th>User</th>
    <th>Delete</th>
  </tr>
  <tr></tr>
<% Tweet.all.each do |t| %>
<tr align="center">
    <td><%= t.content %></td>
    <td><%= t.user.name %></td>
    <%if t.user == current_user %>
    <td> 
	    <div class="delete_buttons">
	  <!-- add an delete button -->
		  <form action="/tweets/<%= t.id %>" method="POST">
		    <input type="hidden" name="_method" value="DELETE">
		    <input type="submit" value="Delete!">
		  </form>
		</div>
	</td>
 </tr>
  <%end%>
  <%end%>
</table>


 